name: Publish

on:
    push:
        branches:
            - master

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
    CI: true
    CARGO_TERM_COLOR: always
    CARGO_TAG_NAME: "GitHub Actions"
    CARGO_TAG_EMAIL: "github-actions@users.noreply.github.com"
    OPENSSL_STATIC: 1
    OPENSSL_NO_VENDOR: 0

permissions:
    contents: write

jobs:
    Setup:
        runs-on: ubuntu-latest
        steps:
            - name: Cargo install
              uses: dimitrmo/cargo-verison-action@v1.0.36
              with:
                  workspace: true
                  skip-bump: true

            - name: Store binary
              uses: actions/upload-artifact@v5
              with:
                  name: cargo-verison
                  path: ~/.cargo/bin/cargo-verison
                  retention-days: 1
                  compression-level: 9

    Build:
        runs-on: ubuntu-latest
        needs:
            - Setup
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Docker builds setup
              uses: docker/setup-buildx-action@v3

            - name: Build
              run: cargo build --all-features

            - name: Run tests
              run: cargo test --all-features

            - name: Build release
              run: cargo build --all-features --release

    Publish:
        runs-on: ubuntu-latest
        needs:
            - Build
        strategy:
            matrix:
                images: [
                    { image: "dimitrmok/phirepass-server", binary: "server" },
                    { image: "dimitrmok/phirepass-daemon", binary: "daemon" }
                ]
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install Protoc
              uses: arduino/setup-protoc@v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Docker buildx setup
              uses: docker/setup-buildx-action@v3

            - name: QEMU setup
              uses: docker/setup-qemu-action@v3

            - name: Cargo Verison Setup
              uses: actions/download-artifact@v6
              with:
                  name: cargo-verison
                  path: ~/.cargo/bin/

            - name: Cargo Verison permissions
              run: chmod +x ~/.cargo/bin/cargo-verison

            - name: Cargo Verison
              id: verison
              uses: dimitrmo/cargo-verison-action@v1.0.36
              with:
                  workspace: true
                  skip-install: true
                  git-tag-version: false

            - name: Log into registry
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Extract Docker metadata
              id: meta
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
              with:
                  images: ${{ matrix.images.image }}

            - name: Build and push docker image for ${{ matrix.images.binary }}
              id: build-and-push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ matrix.images.image }}:${{ steps.verison.outputs.next_version }},${{ matrix.images.image }}:latest
                  labels: ${{ steps.meta.outputs.labels }}
                  file: ${{ matrix.images.binary }}/Dockerfile
                  outputs: "type=registry"
                  build-args: |
                      APP_NAME=${{ matrix.images.binary }}


    Commit:
        runs-on: ubuntu-latest
        needs:
            - Publish
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Git setup
              run: |
                  git config user.name "$CARGO_TAG_NAME"
                  git config user.email "$CARGO_TAG_EMAIL"

            - name: Cargo Verison Setup
              uses: actions/download-artifact@v6
              with:
                  name: cargo-verison
                  path: ~/.cargo/bin/

            - name: Cargo Verison permissions
              run: chmod +x ~/.cargo/bin/cargo-verison

            - name: Cargo Verison
              id: verison
              uses: dimitrmo/cargo-verison-action@v1.0.36
              with:
                  workspace: true
                  skip-install: true
                  message: |
                      Release %s

                      [skip ci]

            - name: Extract git branch
              run: |
                  # Short name for current branch. For PRs, use target branch (base ref)
                  GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
                  echo "GIT_BRANCH=$GIT_BRANCH" >> $GITHUB_ENV

            - name: Git push
              run: |
                  echo "Current branch $GIT_BRANCH"
                  git push origin $GIT_BRANCH
                  git push origin $GIT_BRANCH --tags

            - name: Cleanup
              uses: geekyeggo/delete-artifact@v5
              with:
                  name: cargo-verison
                  failOnError: false
