name: Server

on:
    push:
        branches:
            - master

env:
    CI: true
    CARGO_TERM_COLOR: always
    CARGO_TAG_NAME: "GitHub Actions"
    CARGO_TAG_EMAIL: "github-actions@users.noreply.github.com"
    OPENSSL_STATIC: 1
    OPENSSL_NO_VENDOR: 0

permissions:
    contents: write

jobs:
    Setup:
        runs-on: ubuntu-latest
        steps:
            - name: Cargo install
              uses: dimitrmo/cargo-verison-action@v1.0.36
              with:
                  workspace: false
                  skip-bump: true

            - name: Store binary
              uses: actions/upload-artifact@v5
              with:
                  name: cargo-verison
                  path: ~/.cargo/bin/cargo-verison
                  retention-days: 1
                  compression-level: 9

            - name: Checkout
              uses: actions/checkout@v6

            - name: Install Protoc
              uses: arduino/setup-protoc@v3
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Docker buildx setup
              uses: docker/setup-buildx-action@v3

            - name: QEMU setup
              uses: docker/setup-qemu-action@v3

            - name: Cargo Verison Setup
              uses: actions/download-artifact@v6
              with:
                  name: cargo-verison
                  path: ~/.cargo/bin/

            - name: Cargo Verison permissions
              run: chmod +x ~/.cargo/bin/cargo-verison

            - name: Cargo Verison
              id: verison
              uses: dimitrmo/cargo-verison-action@v1.0.36
              with:
                  workspace: false
                  skip-install: true
                  git-tag-version: false
