name: Tag

on:
    workflow_run:
        workflows:
            - Server
            - Daemon
        branches:
            - master
        types:
            - completed

env:
    CI: true
    CARGO_TERM_COLOR: always

jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Git setup
                run: |
                    git config user.name "$CARGO_TAG_NAME"
                    git config user.email "$CARGO_TAG_EMAIL"

            -   name: Cargo Verison Setup
                uses: actions/download-artifact@v6
                with:
                    name: cargo-verison
                    path: ~/.cargo/bin/

            -   name: Cargo Verison permissions
                run: chmod +x ~/.cargo/bin/cargo-verison

            -   name: Cargo Verison
                id: verison
                uses: dimitrmo/cargo-verison-action@v1.0.36
                with:
                    workspace: true
                    skip-install: true
                    message: |
                        Release %s

                        [skip ci]

            -   name: Extract git branch
                run: |
                    # Short name for current branch. For PRs, use target branch (base ref)
                    GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
                    echo "GIT_BRANCH=$GIT_BRANCH" >> $GITHUB_ENV

            -   name: Git push
                run: |
                    echo "Current branch $GIT_BRANCH"
                    git push origin $GIT_BRANCH
                    git push origin $GIT_BRANCH --tags

            -   name: Cleanup
                uses: geekyeggo/delete-artifact@v5
                with:
                    name: cargo-verison
                    failOnError: false
